  <!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 <body> 
  <form >
      <div id ="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4" id="sign">  
                <h3>Sign In</h3>
                <br>	
                <div class="wrapper">
                    <input class="form-control" id="pwd" placeholder="Username" type="text" >
                    <span class="underline"></span>
                </div><br><br>            
                <div >
                    <input type="password" class="form-control" id="pwd" placeholder="Enter Password" name="pwd">
                </div>
                <div>
                    <button mat-button id="button1">Sign In</button>
                    </div><br><br>
                    <a id="for" href="#">Forgot Password</a><br><br>
                    <hr><br>
                    <span id="don">Don't have an account? <a id="cre" href="#">Create one </a></span>
            </div>
      
            <div class="col-sm-4">
            
            
            </div>	
      </div>
      
      
  </form>
 </body>
</div>