/* You can add global styles to this file, and also import other style files */
#sign{
    border: 15px solid #82817F;  
    padding-bottom: 2%;
    margin-top: 7%;
    
}
body{
    background-color:	#FFFFFF   ;
}
#button1{
    width: 350px;
    margin-top: 3em;
    height: 40px;
    background-color: #19AA8D;
    font-size: 18px;
    font-weight: bold; 
    color: #FFFFFF; 
    border-radius: 5px;
}
hr { 
    width: 100%;
    margin-left: 0px;
    border-style: inset;
} 
#for{
    color: #19AA8D;
}
#cre{
    color: #19AA8D;
}
#don{
    color: #9a999a;
}
#pwd{   
    background-color: transparent;
    
    border-width: 0px 0px 1px 0px;

}

